.switch {
  position: relative;
  width: 48px;
  background-color: transparent;
  border: 2px solid red;
  z-index: 1;
}
.switch::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 5px;
  right: 5px;
  bottom: 0;
  margin: auto;
  height: 3px;
  background: var(--color-gray-300);
  border-radius: 10px;
}
.slider {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-gray-300);
  z-index: 2;
}
.active {
  background: var(--color-gray-900);
}
